<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= @table_site.image %>
</p>

<p>
  <b>X:</b>
  <%= @table_site.x %>
</p>

<p>
  <b>Y:</b>
  <%= @table_site.y %>
</p>


<%= link_to 'Edit', edit_table_site_path(@table_site) %> |
<%= link_to 'Back', table_sites_path %>
